{% load static %}
<!doctype html>
<html lang="ru" ng-app>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow-lg">
            <a class="navbar-brand" href="/">
            <img src="{% static 'images/employee.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="Биржа задач">
                HRM
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="/tasks/">Все задачи</a>
                      </li>
                      {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="/developers/">Все сотрудники</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="/specs/">Специализации</a>
                            </li> -->
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="/developer/">Мои резюме</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="/responses/">Мои отклики</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/manager/">Мои задачи</a>
                            </li>
                      {% endif %}
                </ul>
                <span class="navbar-text">
                    {% if user.is_authenticated %}
                        <a href="/accounts/profile/"><i class="fas fa-user-circle fa-lg"></i> {{ user.get_full_name }}</a>
                    {% else %}
                        <a href="{% url 'login' %}">Войти</a>&nbsp;
                        <a href="{% url 'signup' %}">Зарегистрироваться</a>
                    {% endif %}
                </span>
            </div>
        </nav>
        <div class="container">
            <div class="my-2">
                <h1>{% block pagename %}{% endblock %}</h1>
            </div>
        {% block content %}{% endblock %}
        </div>
    </body>
    <footer>
        <script src="{% static 'js/search.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="{% static 'js/sort.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </footer>
</html>
