{% extends 'manager/base.html' %}
{% block title %}Сотрудник{% endblock %}
{% block pagename %}Размещенные резюме{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if cv %}
            <div class="" id="developer-list">
                {% for card in cv %}
                <div class="position p-4 mb-4 rounded shadow">
                    <h4 class="m-0 p-0">{{ card.name }}
                        <span class="badge badge-success hours">{{ card.hours }}</span>
                        {% if card.archived %}
                            <span class="badge badge-warning">В архиве</span>
                        {% endif %}
                    </h4>
                    <p>{{ card.about }}</p>
                    <h5 class="mt-0 pt-0">
                        {% for skill in card.skills %}
                            <span class="badge badge-info">{{ skill }}</span>
                        {% endfor %}
                    </h5>
                    <small class="created_date">{{ card.created_date }}</small>
                    <p class="text-right mb-0">
                        <a class="text-success mr-2" href="{% url 'edit_card' id=card.id %}">Изменить</a>
                        <a class="text-danger delete-event" href="{% url 'delete_card' id=card.id %}">Удалить</a>
                    </p>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Вы еще не добавили резюме</p>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        {% if not cv %}
            <form method="POST" class="developer-form mt-5">{% csrf_token %}
                <h2>Добавить новое</h2>
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 col-form-label">Имя<span class="required">*</span></label>
                    <div class="col-12">
                        <input type="text" class="form-control" id="inputName" name="name" maxlength="257" value="{{ user.person.first_name }} {{ user.person.last_name }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAbout" class="col-sm-2 col-form-label">Резюме</label>
                    <div class="col-12">
                        <textarea type="text" class="form-control" id="inputAbout" name="about" rows="6"></textarea>
                    </div>
                </div>
                <div class="form-group" id="specs">
                    <label for="inputSkill" class="col-sm-2 col-form-label">Специализация</label>
                    <div class="col-12 mb-2" id="inputSpecs">
                        <select class="form-control" id="inputSpec" name="skills">
                            <option value="" selected>Не выбрано</option>
                            {% for spec in specs %}
                                <option value="{{ spec.id }}">{{ spec }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12" id="addSpecField">
                        <a id="addSpec"><i class="fas fa-plus fa-md"></i> Добавить поле</a>
                    </div>
                    <div class="col-12">
                        <a id="delSpec"><i class="fas fa-minus fa-md"></i> Удалить поле</a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputHours" class="col-sm-2 col-form-label">Свободные часы</label>
                    <div class="col-2">
                        <input type="number" class="form-control" id="inputHours" name="hours">
                    </div>
                </div>
                <input hidden type="text" class="form-control" id="inputEmail" name="author" value="{{  user.person.getFullName }}">
                <input hidden type="text" class="form-control" id="inputEmail" name="contact_email" value="{{  user.person.email }}">
                <div class="form-group mt-md-4">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </div>
            </form>
        {% endif %}
        </div>
    {% else %}
        <p>Вам необходимо авторизоваться, чтобы просматривать эту страницу.</p>
    {% endif %}
{% endblock %}
