{% extends 'manager/base.html' %}
{% block title %}Список сотрудников{% endblock %}
{% block pagename %}Список сотрудников{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="alert alert-success" id="success-mailto" role="alert">
            Отклик успешно отправлен.
        </div>
        {% if developers %}
            <div class="my-3">
                <div class="col-12">
                    <div class="input-group">
                        <input type="text" class="form-control" id="filterInput" placeholder="Найти по слову" size="30" aria-describedby="show">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-primary" id="show"><i class="fas fa-search"></i> Показать</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <a id="show-all" href="#">Показать все</a>
                    <!-- <a id="sort-link" href="#">Сортировать по времени <i id="sort-icon" class="fas fa-angle-down"></i></a> -->
                </div>
            </div>
            <div id="no-result">
                <div class="alert alert-danger col-12" role="alert">
                     По вашему запросу ничего не найдено.
                </div>
            </div>
            <div id="developer-list">
                {% for developer in developers %}
                    <div class="col-12 position p-4 mb-4 rounded shadow" hours-value="{{ developer.hours }}">
                        <h4>{{ developer.get_full_name }} <small style="color: #989898; font-size: .7em;">@{{ developer.username }} (<a href="mailto:{{ developer.email }}?subject=HRM - обратная связь">{{ developer.email }}</a>)</small>
                        </h4>
                        <h5 class="mb-2">
                            <span class="badge badge-info">{{ developer.skills }}</span>
                         </h5>
                        <h5>
                        {% for spec in developer.specs.all %}
                          <span class="badge badge-info">{{ spec }}</span>
                        {% endfor %}
                        </h5>
                        {% for task in developer.unassigned_tasks %}
                            <p class="mb-0">
                                <a href="#" onclick="mailto('{{ developer.contact_email }}', 'Новая задача',  'Здравствуйте!&nbsp;Я хочу нанять вас на задачу &quot;{{ task.title }}&quot;.', '{% url 'manager_hire' task_id=task.id employee_id=developer.id employer_id=user.id %}');">Нанять</a> на задачу "{{ task.title }}"
                            </p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="m-0 p-0">Список резюме пока пуст</p>
        {% endif %}
    {% else %}
        <p>Вам необходимо авторизоваться, чтобы просматривать эту страницу.</p>
    {% endif %}
{% endblock %}
