{% extends 'manager/base.html' %}
{% block title %}Редактирование задачи{% endblock %}
{% block pagename %}Редактирование задачи{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <form method="POST" class="developer-form">{% csrf_token %}
            <div class="form-group">
                <label for="inputTitle" class="col-sm-2 col-form-label">Название<span class="required">*</span></label>
                <div class="col-12">
                    <input type="text" class="form-control" id="inputTitle" name="title" maxlength="257" value="{{ task.title }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescription" class="col-sm-2 col-form-label">Описание<span class="required">*</span></label>
                <div class="col-12">
                    <textarea type="text" class="form-control" id="inputDescription" name="description" rows="6">{{ task.description }}</textarea>
                </div>
            </div>
            <div class="form-group" id="specs">
                <label for="inputSpec" class="col-sm-12 col-form-label">Специализация<span class="required">*</span></label>
                {% for tech in task.technologies %}
                    <div class="col-12 mb-2" id="inputSpecs">
                        <select class="form-control" id="inputSpec" name="technologies">
                            <option disabled selected>Не выбрано</option>
                            {% for key, value in specs %}
                                <option value="{{ key }}" {% if key == tech.id %} selected {% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
                <div class="col-12" id="addSpecField">
                    <a id="addSpec"><i class="fas fa-plus fa-md"></i> Добавить поле</a>
                </div>
                <div class="col-12">
                    <a id="delSpec"><i class="fas fa-minus fa-md"></i> Удалить поле</a>
                </div>
            </div>
            <div class="form-group">
                <label for="inputTime" class="col-sm-2 col-form-label">Время на выполнение</label>
                <div class="col-2">
                    <input type="number" class="form-control" id="inputTime" name="time" value="{{ task.time }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTags" class="col-sm-12 col-form-label">Тэги <small>(разделять пробелом)</small></label>
                <div class="col-12">
                    <input type="text" class="form-control" id="inputTags" name="tags" value="{{ task.tags }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTags" class="col-sm-12 col-form-label">Автор</label>
                <div class="col-12">
                    <input type="text" class="form-control" id="inputAuthor" name="author" value="{{ task.author }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTags" class="col-sm-12 col-form-label">Контактная почта</label>
                <div class="col-12">
                    <input type="text" class="form-control" id="inputAuthorEmail" name="author_email" value="{{ task.author_email }}">
                </div>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" name="archived" type="checkbox" {% if task.archived %} checked {% endif %} value="True" id="checkboxArchive">
                <label class="form-check-label" for="checkboxArchive">В архиве</label>
            </div>
            <div class="form-group mt-md-4">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-success">Отправить</button>
                </div>
            </div>
        </form>
    {% else %}
        <p>Вам необходимо авторизоваться, чтобы просматривать эту страницу.</p>
    {% endif %}
{% endblock %}
