{% extends 'manager/base.html' %}
{% block title %}Редактирование резюме{% endblock %}
{% block pagename %}Редактирование резюме{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form method="POST" class="developer-form">{% csrf_token %}
            <div class="form-group">
                <label for="inputName" class="col-sm-2 col-form-label">Имя<span class="required">*</span></label>
                <div class="col-12">
                    <input type="text" class="form-control" id="inputName" name="name" maxlength="257" value="{{ cv.name }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAbout" class="col-sm-2 col-form-label">Резюме</label>
                <div class="col-12">
                    <textarea type="text" class="form-control" id="inputAbout" name="about" rows="6">{{ cv.about }}</textarea>
                </div>
            </div>
            <div class="form-group" id="specs">
                <label for="inputSkill" class="col-sm-2 col-form-label">Специализация</label>
                {% for cv_skill in cv.skills %}
                    <div class="col-12 mb-2" id="inputSpecs">
                        <select class="form-control" id="inputSpec" name="skills">
                            <option selected disabled>Не выбрано</option>
                            {% for key, value in specs %}
                                <option value="{{ key }}" {% if key == cv_skill.id %} selected {% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
                <div class="col-12" id="addSpecField">
                    <a id="addSpec"><i class="fas fa-plus fa-md"></i> Добавить поле</a>
                </div>
                <div class="col-12">
                    <a id="delSpec"><i class="fas fa-minus fa-md"></i> Удалить поле</a>
                </div>
            </div>
            <div class="form-group">
                <label for="inputHours" class="col-sm-2 col-form-label">Свободные часы</label>
                <div class="col-12">
                    <input type="number" class="form-control" id="inputHours" name="hours" value="{{ cv.hours }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputHours" class="col-sm-2 col-form-label">Автор</label>
                <div class="col-12">
                    <input type="text" class="form-control" id="inputAuthor" name="author" value="{{ cv.author }}">
                </div>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" name="archived" type="checkbox" {% if cv.archived %} checked {% endif %} value="True" id="checkboxArchive">
                <label class="form-check-label" for="checkboxArchive">В архиве</label>
            </div>
            <input hidden type="text" class="form-control" id="inputHours" name="contact_email" value="{{ cv.contact_email }}">
            <div class="form-group mt-md-4">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-success">Отправить</button>
                </div>
            </div>
        </form>
    {% else %}
        <p>Вам необходимо авторизоваться, чтобы просматривать эту страницу.</p>
    {% endif %}
{% endblock %}
