{% extends 'manager/base.html' %}
{% block title %}Мои задачи{% endblock %}
{% block pagename %}Размещенные задачи{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="">
            {% if tasks %}
                {% for task in tasks %}
                    <div class="col-12 position p-4 mb-4 rounded shadow">
                        <h4>{{ task.title }} <span class="badge badge-danger hours">{{ task.time }}</span> {% if task.archived %}<span class="badge badge-warning">В архиве</span>{% endif %}</h4>
                        <p>{{ task.description }}</p>
                        <h5>
                            {% for tech in task.technologies %}
                                <span class="badge badge-info">{{ tech }}</span>
                            {% endfor %}
                        </h5>
                        {% for tag in task.tags %}
                            <span class="badge badge-secondary">{{ tag }}</span>
                        {% endfor %}
                        <p class="mt-4"><small class="created_date">created by {{ task.author }}<br>{{ task.created_date }}</small></p>
                        {% if responses %}
                            <h5 class="mt-4 mb-0">Отклики</h5>
                            {% for response in responses %}
                                {% if task.id == response.task.id and not response.is_perform  %}
                                    <p>{{ response.user.get_full_name }} (<a>{{response.user.email}}</a>)
                                        <a
                                        href="#"
                                        onclick="response_change_perform($(this), '{% url 'response_change_perform' task_id=task.id developer_id=response.user.id  %}');"
                                        class="btn btn-sm btn-outline-primary response-confirm"
                                        role="button">Подтвердить</a>
                                    </p>
                                {% elif task.id == response.task.id and response.is_perform %}
                                    <p>{{ response.user.get_full_name }} (<a>{{response.user.email}}</a>)
                                        <a
                                        href="#"
                                        disabled
                                        class="btn btn-sm btn-success"
                                        role="button"aria-pressed="true">Подтверждено</a>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <p class="text-right mb-0">
                            <a class="text-success mr-2" href="{% url 'edit_task' id=task.id %}">Изменить</a>
                            <a class="text-danger delete-event" href="{% url 'delete_task' id=task.id %}">Удалить</a>
                        </p>
                    </div>
                {% endfor %}
            {% else %}
                <p>Вы пока не добавили задачи</p>
            {% endif %}
        </div>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form method="POST" class="developer-form mt-5">{% csrf_token %}
            <h2>Форма новой задачи</h2>
            <div class="form-group">
                <label for="inputTitle" class="col-sm-2 col-form-label">Название<span class="required">*</span></label>
                <div class="col-12">
                    <input type="text" class="form-control" id="inputTitle" name="title" maxlength="257">
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescription" class="col-sm-2 col-form-label">Описание<span class="required">*</span></label>
                <div class="col-12">
                    <textarea type="text" class="form-control" id="inputDescription" name="description" rows="6"></textarea>
                </div>
            </div>
            <div class="form-group" id="specs">
                <label for="inputSpec" class="col-sm-12 col-form-label">Специализация<span class="required">*</span></label>
                <div class="col-12 mb-2" id="inputSpecs">
                    <select class="form-control" id="inputSpec" name="technologies">
                        <option disabled selected>Не выбрано</option>
                        {% for spec in specs %}
                            <option value="{{ spec.id }}">{{ spec }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12" id="addSpecField">
                    <a id="addSpec"><i class="fas fa-plus fa-md"></i> Добавить поле</a>
                </div>
                <div class="col-12">
                    <a id="delSpec"><i class="fas fa-minus fa-md"></i> Удалить поле</a>
                </div>
            </div>
            <div class="form-group">
                <label for="inputTime" class="col-sm-2 col-form-label">Время на выполнение</label>
                <div class="col-6">
                    <input type="number" class="form-control" id="inputTime" name="time">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTags" class="col-sm-12 col-form-label">Тэги <small>(разделять пробелом)</small></label>
                <div class="col-12">
                    <input type="text" class="form-control" id="inputTags" name="tags">
                </div>
            </div>
            <input type="text" hidden class="form-control" id="inputAuthor" name="author" value="{{ user.get_full_name }}">
            <input type="text" hidden class="form-control" id="inputAuthorEmail" name="author_email" value="{{ user.email }}">
            <div class="form-group mt-md-4">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </div>
        </form>
    {% else %}
        <p>Вам необходимо авторизоваться, чтобы просматривать эту страницу.</p>
    {% endif %}
{% endblock %}
