{% extends 'manager/base.html' %}
{% block title %}Список откликов{% endblock %}
{% block pagename %}Список откликов{% endblock %}
{% block content %}
    <div class="alert alert-success" id="success-delete-hire" role="alert">
        Отклик удален
    </div>
    {% if responsed_tasks %}
        {% for response in responsed_tasks %}
            <div class="col-12 position p-4 mb-4 rounded shadow" id="response-block">
                <h4>{{ response.task.title }}
                    <span class="badge badge-danger hours">{{ response.task.time }}</span>
                    {% if response.is_perform %}
                        <span class="badge badge-info">Отклик подтвержден</span>
                    {% endif %}
                </h4>
                <p>{{ response.task.description }}</p>
                <h5>
                    {% for technology in response.task.technologies %}
                        <span class="badge badge-info">{{ technology }}</span>
                    {% endfor %}
                </h5>
                {% for tag in response.task.tags %}
                    <span class="badge badge-secondary">{{ tag }}</span>
                {% endfor %}
                <p class=" mt-2 mb-0">
                    <small class="created_date">created by {{ response.task.author }}, {{ response.task.created_date }}</small>
                </p>
                <p class="text-right mb-0">
                    <a  class="text-danger"
                        href="#"
                        onclick="
                        if(confirm('Вы действительно хотите удалить?')) {
                            delete_response($('#response-block'), '{% url 'developer_hire_delete' task_id=response.task.id developer_id=response.user.id %}');
                        } else {
                            return false;
                        }">
                    Удалить
                    </a>
                </p>
            </div>
        {% endfor %}
    {% else %}
        <p>Вы еще не откликнулись ни на одну задачу</p>
    {% endif %}
{% endblock %}
