{% extends 'manager/base.html' %}
{% block title %}Список специализаций{% endblock %}
{% block pagename %}Список специализаций{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <ul>
            {% for spec in specs %}
                <li>{{ spec }}</li>
            {% endfor %}
        </ul>
        <h2>Новая специализация</h2>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form method="POST" class="spec-form">{% csrf_token %}
            <div class="form-group">
                <label for="inputTitle" class="col-sm-2 col-form-label">Название<span class="required">*</span></label>
                <div class="col-3">
                    <input type="text" class="form-control" id="inputTitle" name="title" maxlength="257">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </div>
        </form>
    {% else %}
        <p>Вам необходимо авторизоваться, чтобы просматривать эту страницу.</p>
    {% endif %}
{% endblock %}
