{% extends 'manager/base.html' %}
{% block title %}Список задач{% endblock %}
{% block pagename %}Список задач{% endblock %}
{% block content %}
    <div class="alert alert-success" id="success-mailto" role="alert">
        Отклик отправлен. Сообщите автору задачи по эл. почте.
    </div>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    {% if tasks %}
        <div class="my-3">
            <div class="col-12">
                <div class="input-group">
                    <input type="text" class="form-control" id="filterInput" placeholder="Найти по слову" size="30" aria-describedby="show">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-primary" id="show"><i class="fas fa-search"></i> Показать</button>
                    </div>
                </div>
            </div>
            <div class="col-12 my-3">
                <a id="show-all" href="#">Показать все | </a>
                <a id="sort-link" href="#">Сортировать по времени <i id="sort-icon" class="fas fa-angle-down"></i></a>
            </div>
        </div>
        <div id="no-result">
            <div class="alert alert-danger col-12" role="alert">
             По вашему запросу ничего не найдено.
            </div>
        </div>
        <div id="task-list">
                {% for task in tasks %}
                    <div class="col-12 position p-4 mb-4 rounded shadow" hours-value="{{ task.time }}">
                        <h4>
                            {{ task.title }}&nbsp;<span class="badge badge-danger hours">{{ task.time }}</span>
                            {% if user.is_authenticated %}
                                {% if task.is_responsed %}
                                    <span id="responsed-label" class="badge badge-success">Вы уже откликнулись на эту задачу</span>
                                {% else %}
                                    <a
                                        id="response-link"
                                        href="#"
                                        onclick="mailto(
                                            '{{ task.author_email }}',
                                            'Отклик на задачу',
                                            'Здравствуйте!&nbsp;Мне интересна ваша задача &quot;{{ task.title }}&quot;.',
                                            '{% url 'developer_hire' task_id=task.id employee_id=user.id %}',
                                            $('#response-link'),
                                        );">
                                        Откликнуться
                                    </a>
                                {% endif %}
                            {% endif %}
                        </h4>
                        <p>{{ task.description }}</p>
                        <h5>
                            {% for tech in task.technologies %}
                                <span class="badge badge-info">{{ tech }}</span>
                            {% endfor %}
                        </h5>
                        {% for tag in task.tags %}
                            <span class="badge badge-secondary">{{ tag }}</span>
                        {% endfor %}
                        <p class="mt-4 mb-3"><small class="created_date">created by {{ task.author }}<br>{{ task.created_date }}</small></p>
                    </div>
                {% endfor %}
        </div>
    {% else %}
        <p>Задач пока нет</p>
    {% endif %}
{% endblock %}
