/* GENERAL */

a:hover {
    text-decoration: none;
}

.required, .asteriskField {
    color: red;
}

#success-mailto,
#success-delete-hire,
#show-all,
#no-result {
    display: none;
}

/* @keyframes rotation {
	from {
        transform-origin: center;
        transform: rotate(0deg);
	}
	to {
        transform-origin: center;
		transform: rotate(359deg);
	}
}

.waiting {
    width: auto;
    height: auto;
    animation: rotation 2s infinite linear;
} */

/*
footer {
    background-color: #f7f7f7;
    min-height: 40px;
    padding-top: 10px;
    margin-top: 15px;
}
*/

#addSpec, #delSpec {
    cursor: pointer;
}

#addSpec {
    color: #329322;
}

#addSpec:hover {
    color: #267918;
}

#delSpec {
    color: #d11;
}

#delSpec:hover {
    color: #b41010;
}

/* TASKS STYLES */
.position {
    background-color: #f8f8f8;
}

.position:hover {
    background-color: #f5f5f5;
}

.created_date {
    color: #aaaaaa;
}
