{% extends 'manager/base.html' %}
{% block title %}Авторизация{% endblock %}
{% load staticfiles %}
{% block content %}
    {% if user.is_authenticated %}
        <p>Вы уже авторизовались.</p>
    {% else %}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Неправильно введен логин или пароль. Попробуйте еще раз.
        </div>
        {% endif %}
        {% if next %}
            {% if user.is_authenticated %}
            <p>У вас нет доступа к этой странице.</p>
            {% endif %}
        {% endif %}
        <div class="row">
            <div class="col-sm-none col-md-4"></div>
            <div class="col-sm-12 col-md-4 text-center">
                <form class="form-signin" method="post" action="{% url 'login' %}">{% csrf_token %}
                    <img class="mt-5 mb-2" src="{% static 'images/employee.svg' %}" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
                    <input type="username" name="username" class="form-control mb-2" placeholder="Логин" required autofocus>
                    <input type="password" name="password" class="form-control" placeholder="Пароль" required>
                    <input type="hidden" name="next" value="{{ next }}" />
                    <button class="btn btn-lg btn-primary btn-block mt-2" type="submit" value="login">Войти</button>
                </form>
            </div>
            <div class="col-sm-none col-md-4"></div>
        </div>
    {% endif %}
{% endblock %}
