{% extends 'manager/base.html' %}
{% block title %}Профиль{% endblock %}
{% block pagename %}Личные данные{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <ul class="list-unstyled">
            <li class="mb-2"><b>Логин</b><br>{{ user.username }}</li>
            <li class="mb-2"><b>Имя</b><br>{{ user.get_full_name }}</li>
            <li class="mb-2"><b>E-mail</b><br>{{ user.email }}</li>
            <li class="mb-2"><b>Активный</b><br>{{ user.is_active }}</li>
            <li class="mb-2"><b>Навыки</b><br><h5>
            {% for spec in user.specs.all %}
              <span class="badge badge-info">{{ spec }}</span>
            {% endfor %}
            </h5></li>
            <li class="mb-2"><b>Последний вход</b><br>{{ user.last_login }}</li>
        </ul>
        <a class="btn btn-outline-danger mt-1" href="{% url 'logout' %}">Выйти</a>
        {% else %}
        <p>Вам необходимо авторизоваться, чтобы просматривать эту страницу.</p>
    {% endif %}
{% endblock %}
