{% extends 'manager/base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    {% if user.is_authenticated %}
        <p>Вы уже авторизовались.</p>
    {% else %}
        <div class="row text-center">
            <div class="col-sm-none col-md-2"></div>
            <div class="col-sm-12 col-md-8 text-left">
                <form method="post">{% csrf_token %}
                    <h1 class="h3 mb-3 font-weight-normal text-center">Регистрация</h1>
                    {% for field in form %}
                        <p>
                        {{ field|as_crispy_field }}
                        </p>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </form>
            </div>
            <div class="col-sm-none col-md-4"></div>
        </div>
    {% endif %}
{% endblock %}
